:root{
    --primaryColor: rgb(240,240,197);
    --mainWhite: rgb(243,243,240);
    --lightblue:#e7eef8;
}

body{
    background: var(--primaryColor);
    display: flex;
    justify-content: center;
}

img{
    width: 48vh;
    height: 50vh;
}

button{
    padding: 1em;
    margin-left: 97px;
}

h1{
    margin-left: 60px;
}